@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Staatliches&display=swap');

body
{
	display: flex;
	width: 100vw;
	height: 100vh;
	margin: 0;
	background: transparent;
	/* background: black; */
	font-family: 'Staatliches', sans-serif;
	flex-direction: row;
	color: #080808;
	user-select: none;
	overflow: hidden;
}

#background-video
{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

main
{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	background-color: #080808a2;
	backdrop-filter: blur(8px);
}

.left
{
	width: 60%;
	height: 100%;
	display: flex;
	/* background-color: #080808a2; */
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* backdrop-filter: blur(8px); */
	color: #fefefe;
	gap: 4px;
}

.falcon-logo
{
	width: 400px;
	height: 400px;
	/* width: 332px;
	height: 268px; */
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: clip-path 0.5s ease;
	pointer-events: none;
}

.tournament-stage
{
	font-size: 48pt;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: clip-path 0.5s ease;
	pointer-events: none;
}

.match
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 32px;
	font-size: 32pt;
	width: 100%;
	padding: 16px;
	box-sizing: border-box;
	/* clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	transition: clip-path 0.5s ease; */
	pointer-events: none;
	gap: 8px;
}

.team, .team-score
{
	background-color: #fefefe;
	color: #080808;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	transition: clip-path 0.5s ease;
	pointer-events: none;
}

.inner-box-text
{
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	transition: clip-path 0.5s ease;
}

.team
{
	width: 420px;
}

.team-versus
{
	display: flex;
	justify-content: center;
	align-items: center;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: clip-path 0.5s ease;
	height: 50px;
	width: 50px;
}

.team-score
{
	width: 50px;
}

.maps
{
	display: flex;
	gap: 8px;
	justify-content: space-between;
	width: 1022px; /* hardcoded for 1080p */
	box-sizing: border-box;
}

.map
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fefefe;
	color: #080808;
	flex: 1;
	height: 30px;
	box-sizing: border-box;
	font-size: 18pt;
	clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	transition: clip-path 0.5s ease;
}

.map-score
{
	background-color: #080808;
	color: #fefefe;
	height: 100%;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 16px;
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	transition: clip-path 1s ease;
}

.right
{
	width: 40%;
	height: 100%;
	display: flex;
	/* background-color: #080808a2; */
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* backdrop-filter: blur(8px); */
	color: #fefefe;
	gap: 4px;
}

.groups
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 64px;
}

.group
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: clip-path 0.5s ease;
}

.group-title
{
	font-size: 24pt;
}

.group-table
{
	border-collapse: collapse;
	font-size: 18pt;
}

th
{
	padding: 4px 16px;
}

tr
{
	border-bottom: 1px dashed #fefefe92;
}

tr:nth-last-child(1)
{
	border-bottom: none;
}

td
{
	padding: 4px 16px;
	border-left: 1px solid #fefefe92;
	width: 20px;
	text-align: center;
}

td:nth-child(1)
{
	border-left: none;
	width: 200px;
}

.show
{
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
